<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="course.id; else noCourse">
            {{course.title}}
        </mat-card-title>
        <ng-template #noCourse> Select Course</ng-template>
    </mat-card-header>
    <form #form="ngForm" (submit)="save.emit(course)">
        <mat-card-content>
            <mat-form-field>
                <input type="text" name="title" matInput required placeholder="title" [(ngModel)]="course.title">
            </mat-form-field>

            <mat-form-field>
                <input type="text" name="description" matInput placeholder="description"
                    [(ngModel)]="course.description">
            </mat-form-field>

            <section>
                <h4> {{course.percentComplete}} % Complete </h4>
                <mat-slider [(ngModel)]="course.percentComplete" name="percentComplete" min="0" max="100" step="1"
                    thumbLabel>
                </mat-slider>
            </section>
            <section>
                <mat-checkbox [(ngModel)]="course.favorite" name="favorite">

                </mat-checkbox>
            </section>

        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" type="submit" mat-button color="primary">Submit</button>
            <button type="button" mat-button (click)="cancel.emit()">Cancel</button>

        </mat-card-actions>
    </form>

    <pre> {{form.value | json}} </pre>
    <pre> {{form.valid}} </pre>
</mat-card>